*.o
eglibc-2.15/build/*
*.swp
eglibc-2.15/manual/pkgvers.texi
eglibc-2.15/pthread_log_min.o.d
eglibc-2.15/pthread_log_min.os
eglibc-2.15/pthread_log_min.os.d
eglibc-2.15/prefix/

#Temporary, look at these later
linux-lts-quantal-3.5.0/errlog
linux-lts-quantal-3.5.0/security/apparmor/net_names.h
linux-lts-quantal-3.5.0/ubuntu/aufs/conf.str
linux-lts-quantal-3.5.0/ubuntu/aufs/conf.str.tmp

#Also temporary
python_environ/omniplay/build/*
pin_tools/obj-ia32/*

*.pyc
